@font-face {
    font-family: 'Cognito2024';
    src: url('https://drabtempest.github.io/cognito-fonts/Cognito2024.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cognito2024';
    src: url('https://drabtempest.github.io/cognito-fonts/Cognito2024-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
